* {
 font-family: "Anek Devanagari", sans-serif;
}

nav {
    background-color: rgba(255, 255, 255, 0.5);
    font-family: "Righteous", cursive;
    font-size: 30px;
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: transform 0.3s 0.2s linear;
}

.down nav {
    transform: translate3d(0, -100px, 0); /* um 100px nach oben verschieben */
}

body {
    font-family: "Chakra Petch", sans-serif;
    font-size: 16px;
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1);
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55);
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1);
    }
}

.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100vh;
    bottom: -1px;
    background-image: linear-gradient(to top, #95b7f7 20%, #ebbf48 80%);
}
.bgTop {
    z-index: 3;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 2;
    opacity: 0.75;
}
.bgBottom {
    z-index: 1;
}
.wave {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 200%;
    height: 10vh;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    background-size: auto 10vh;
    transform-origin: center bottom;
}

.waveAnimation .waveTop {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

.range-field input[type=range]+.thumb.active {
    background: linear-gradient(135deg, #007e33, #ffbb33, #CC0000);
}
